* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

    header .logo img {
        width: 50px;
        height: auto;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 16px;
    }

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

    .sidebar section {
        margin-bottom: 20px;
    }

    .sidebar h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .sidebar ul {
        list-style-type: none;
    }

        .sidebar ul li {
            margin: 5px 0;
        }

.content {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

    .content .post {
        margin-bottom: 30px;
    }

        .content .post h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .content .post p {
            font-size: 16px;
            line-height: 1.8;
        }

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

    footer p {
        font-size: 14px;
    }


.pagination {
    text-align: center;
    margin-top: 20px;
}

    .pagination a {
        margin: 0 10px;
        text-decoration: none;
        padding: 10px;
        background-color: #333;
        color: white;
        border-radius: 5px;
    }

        .pagination a:hover {
            background-color: #555;
        }
